<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag 'slider1.jpg', class: 'img-fluid' %>
      <div class="carousel-caption">
        Brunch
      </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider2.jpg', class: 'img-fluid' %>
      <div class="carousel-caption">
        Fastfood
      </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'slider3.jpg', class: 'img-fluid' %>
      <div class="carousel-caption">
        Asian
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>



<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1>
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p><br />

    <% if place.user.present? %>
      <!-- <small><%= place.user.email %></small> -->
    <% end %>

    <% if place.photos.present? %>
      <div>
        <blockquote>
          <%= image_tag place.photos.last.picture, class: 'img-fluid' %>
          <%= place.photos.last.caption %>
          <!-- <small><%= place.photos.last.user.email %></small> -->
        </blockquote>
      </div>
    <% end %>

    <% if place.comments.present? %>
      <div>
        <blockquote>
          <% if place.comments.last.humanized_rating.present? %>
            <b><%= place.comments.last.humanized_rating %></b> -
          <% end %>
          <%= place.comments.last.message %>
          <!-- <small><%= place.comments.last.user.email %></small> -->
        </blockquote>
      </div>
    <% end %>


  </div>

  
<% end %>

<div class="col-12">

  <%= paginate @places, theme: "twitter-bootstrap-4" %>

</div>